body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
    box-sizing: border-box;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 156px;
    max-width: 1440px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 76px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.logo-item {
    color: #2e2f42;
}

.title-sub-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    padding: 0;
}

.title-list-item {
    font-weight: 500;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.title-list-item:hover {
    color: #404bbf;
}

.title-list-item:focus {
    color: #404bbf;
}

.address {
    font-style: normal;

}

.address-link {
    display: flex;
    gap: 40px;
}

.my-mail {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 24px;
}

.my-mail:hover {
    color: #404bbf;
}

.my-mail:focus {
    color: #404bbf;
}

.title {
    background: #2e2f42;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/Hero/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 50%;
    height: 600px;
    padding: 188px 0;
    max-width: 1440px
}

/* .hero .container {
    width: 1300px;
    padding: 381px 40px 40px;
    border-radius: 30px;
    ba
} */


.section-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;

}

.btn-ink {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 188px;
    padding-top: 169px;
}

.link {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-top: 48px;
}

.first-class {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;

}

.link:hover {
    background: #404bbf;
}

.link:focus {
    background-color: #404BBF
}

.team {
    background: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.strategy {
    padding: 120px 0;
}

.team-member {
    background-color: #FFFFFF;
    display: block;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.title-class {
    display: flex;
    gap: 24px;
}

.class-item {
    width: calc((100% - 72px) / 4);
}

.text-class {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.strategy-title {
    text-align: left;
}



.team-list {
    display: flex;
    gap: 24px;
    padding: 0;
    flex-shrink: 0;
    align-self: flex-end;
}

/* .team-list .item-team {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #2e2f42;
    width: 40px;
    height: 40px;
} */

.item-team {
    padding: 32px 0;

}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
    text-align: center;
}

.list-team-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;

}


.item-team-list {
    width: calc((100% - 48px) / 3);
}

.frs-team {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    width: 360px;
}

.team-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.class-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.about {
    background: #2e2f42;
    padding: 100px 0;
}

.logo-item-second {
    color: #f4f4fd;
}

.about-title {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.logo-item-footer {
    color: #f4f4fd;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}