* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
    margin: 0;
    width: 1440px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

.page-container {
    min-height: 100vh;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-header {
    box-sizing: border-box;
    display: flex;

    padding-top: 24px;
    padding-bottom: 24px;



}

.header {}

.header-nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;

}

.logo {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding-left: 156px;
    text-transform: uppercase;
    margin-right: 76px;
    margin-top: 24px;
    margin-bottom: 24px;

}

.logo-item {
    color: #2e2f42;

}

.title-sub-nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 166px;
}

.title-list-item {
    font-weight: 500;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.title-list-item:hover {
    color: #404bbf;
}

.title-list-item:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
    display: flex;
    gap: 40px;
    flex-direction: row-reverse;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 166px;
}

.my-mail {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.my-mail:hover {
    color: #404bbf;
}

.my-mail:focus {
    color: #404bbf;
}


.title {
    background: #2e2f42;
    margin-right: auto;
    margin-left: auto;
    height: 600px;


}

.section-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    width: 600px;

}

.btn-ink {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 188px;
    padding-top: 169px;

}

.link {
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    width: 169px;
    height: 56px;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 48px;
}



.link:hover {
    background: #404bbf;
}

.link:focus {
    background-color: #404BBF
}


.team {
    background: #f4f4fd;
    margin-right: auto;
    margin-left: auto;
    height: 732px;


}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-left: 639px;
}


.team-container {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.team-member {
    background-color: #FFFFFF;
    display: block;

}

.text-class {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.first-class {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 32px;
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
}

.team-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.about {
    background: #2e2f42;
    padding: 100px 0;
}

.logo-item-second {
    color: #f4f4fd;
}

.about-title {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-left: 156px;
}

.logo-item-footer {
    color: #f4f4fd;
}

.container-footer {}


.container-portfolio {
    max-width: 1128px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-content: flex-start
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}