body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.logo {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.logo-item {
    color: #2e2f42;
}

.title-list-item {
    font-weight: 500;
    color: #2e2f42;
}

.title-item:hover {
    color: #404bbf;
}

.title-item:focus {
    color: #404bbf;
}

.page-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.main-contact {
    font-style: normal;
    color: #434455;
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    color: #434455;
}

.main-contact:hover {
    color: #404bbf;
}

.main-contact:focus {
    color: #404bbf;
}

.title {
    background: #2e2f42;
    width: 1440px;
    height: 600px;
}

.section-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.link {
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.link:hover {
    background: #404bbf;
}

.link:focus {
    background-color: #404BBF
}


.team {
    background: #f4f4fd;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-member {
    background-color: #FFFFFF;
}

.text-class {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.first-class {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.about {
    background: #2e2f42;
}

.logo-item-second {
    color: #f4f4fd;
}

.about-title {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo-item-footer {
    color: #f4f4fd;
}